<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Web</title>
  </head>
  <script
    src="https://kit.fontawesome.com/1a1ee39ae0.js"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous"
  />
  <body>
    <div class="navbar-hd">
        <div class="container">
          <div class="logo">
            <a href="/"
              ><img
                src="img/9eb6abaa-8cda-456c-ad66-26ba4da23ffe.jpg"
                alt=""
                width="60"
                height="40"
            /></a>
          </div>
          <div class="menu">
            <li><a href="/">Trang chủ</a></li>
            <li>
              <a href="/book-list">Danh mục</a>
              <ul class="list-menu">
                <li><a href="List.html">Tiểu thuyết văn học</a></li>
                <li><a href="List.html">Kiếm hiệp</a></li>
                <li><a href="List.html">Ngôn tình</a></li>
                <li><a href="List.html">Hài hước</a></li>
                <li><a href="List.html">Trinh thám</a></li>
                <li><a href="List.html">Thám hiểm</a></li>
                <li><a href="List.html">Xuyên không</a></li>
                <li><a href="List.html">Lịch sử</a></li>
                <li><a href="List.html">Kinh dị</a></li>
              </ul>
            </li>
            <li><a href="/followed-book">Theo dõi</a></li>
            <li>
              <a href="/top-book">Xếp hạng</a>
              <ul class="rank-menu">
                <li><a href="Rank.html">Top all</a></li>
                <li><a href="Rank.html">Top tháng</a></li>
                <li><a href="Rank.html">Top tuần</a></li>
                <li><a href="Rank.html">Top ngày</a></li>
              </ul>
            </li>
          </div>
          <div class="search">
            <li>
              <form action="book-list" method="GET">
              <input type="text" placeholder="Tìm kiếm" /><button type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
            </li>
          </div>
          <div class="login">
            <li><i class="fas fa-user"></i><a href="/login">Đăng nhập</a></li>
          </div>
        </div>
      </div>
  </body>
</html>
